.home {
    margin-top: 70px;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: gray;
}
.section {
    padding: 80px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.fotos-familia {
    display: flex;
    gap: 1rem;
}

.foto {
    width: 200px;
    height: 150px;
    background-color: #ffe4e1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.foto:hover {
    transform: scale(1.05);
}